/* styles.css */
body {
  margin: 0;
  font-family: "Quicksand", serif;
  line-height: 1.6;
  overflow-x: hidden !important;
}

:root {
  --primary-color: #bc0b3e;
  --secondary-color: #ffff;
  --blue: #024caa;
  --red: #bc0b3e;
  --bg-card: #eee;
  --font-size: 17px;
  --spacing: 10px;
  --animate-delay: 4s;
  --text-size: 16px;
  --orange: #e76b6b;
}

.red {
  color: var(--red);
}

.orange {
  color: var(--orange);
}

.blue {
  color: var(--blue);
}

a {
  text-decoration: none !important;
  color: var(--secondary-color);
}

.btn-primary {
  background: var(--primary-color);
  border: none;
}
.btn-primary:hover {
  background: var(--primary-color);
  animation: "pulse";
}

.navbar {
  padding: 20px 0px;
}
.navbar .logoContainer {
  text-align: center;
}

.navbar-brand {
  font-weight: 900;
}

a.navbar-cta {
  border: 1px solid var(--blue);
  font-size: 17px;
  width: 195px !important;
  display: block;
  padding: 5px 7px;
  text-align: center;
  text-decoration: none;
  border-radius: 31px;
  font-weight: 700;
  color: var(--blue);
  top: -16px;
  right: 0;
  font-family: "Quicksand", serif;
}

.cShadow {
  text-shadow: 1px 4px 9px #086bff;
}

.banner {
  position: relative;
  display: flex;
  padding: 0px 100px;
  justify-content: start;
  align-items: center;
  color: #fff; /* Adjust text color for visibility */
  text-align: start;
  border-radius: 12px;
  overflow: hidden; /* Ensures the background fits within rounded corners */
  height: 600px;
  background: rgba(0, 0, 0, 0.48);
}
.banner h1 {
  font-size: 88px;
  font-weight: 600;
  text-shadow: 2px 1px 3px #acabab;
}
.banner p {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 0px;
}
.banner hr {
  width: 662px;
  margin: 10px 0px;
}

.banner::before {
  content: "";
  position: absolute;
  top: 0; /* Corrected to 0px */
  left: 0; /* Corrected to 0px */
  width: 100%; /* Added width */
  height: 100vh;
  background-image: url("/assets/img/IMG-20250217-WA0003.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1; /* Ensures the background is behind the content */
  margin: 0;
  border-radius: 12px;
}

.features {
  padding: 75px 0px;
}
.features h2 {
  text-align: center;
  font-size: 50px;
  font-weight: 200;
  text-shadow: 2px 1px 3px #554f4f;
}
.features p {
  text-align: center;
  font-size: 24px;
  margin-top: 17px;
}
.features .cShadow {
  text-shadow: 1px 4px 9px #086bff;
}

.featuresRow {
  justify-content: space-around;
  margin-top: 50px;
}
.featuresRow .card {
  padding: 40px 30px;
  background: var(--bg-card);
  border: 1px solid var(--blue);
}
.featuresRow .card i {
  font-size: 45px;
  color: var(--primary-color);
}
.featuresRow .card .card-body {
  padding: 0px !important;
}
.featuresRow .card .card-body .card-title {
  font-size: 26px;
}
.featuresRow .card .card-body .card-text {
  margin: 0px;
  text-align: start;
  font-size: 16px;
  font-weight: 500;
}
.featuresRow .card .card-body a {
  margin-top: 15px;
}
.featuresRow .card .feat1 {
  width: 43px;
  height: 43px;
}
.featuresRow .card .feat2 {
  width: 47px;
  height: 34px;
}
.featuresRow .card .feat3 {
  width: 43px;
  height: 43px;
}
.featuresRow .card h5 {
  font-weight: 700;
}

.brandVideo iframe {
  width: 100%;
  height: 600px;
}
.brandVideo a {
  padding: 15px 0px;
  color: white;
  width: 100%;
  font-size: 21px;
  text-transform: capitalize;
  font-weight: 700;
  filter: drop-shadow(-2px 7px 6px red);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  line-height: 60px;
}
.brandVideo a img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.brandVideo .iframeContainer img {
  width: 100%;
  height: 710px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  border-radius: 12px;
  margin-bottom: 26px;
}

.pricing {
  padding: 80px 0px;
}
.pricing h2,
.pricing h3 {
  text-align: center;
}
.pricing h2 {
  font-size: 50px;
  text-shadow: 2px 1px 3px #554f4f;
}
.pricing h2 span {
  font-weight: 700;
}
.pricing h3 {
  font-size: 27px;
  padding: 25px 0px;
}
.pricing p {
  text-align: center;
  font-weight: 700;
  font-size: 24px;
}

.overWhelmed h3 {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 1px 3px #554f4f;
}
.overWhelmed .subHeading {
  font-size: 17px;
}
.overWhelmed a {
  width: 100%;
  padding: 10px 0px;
}
.overWhelmed a i {
  margin-right: 10px;
}
.overWhelmed .portfolio {
  display: flex;
  justify-content: center;
}
.overWhelmed .portfolio .portfolio_img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}

.plan {
  padding: 75px 0px 40px 0px;
}
.plan h3 {
  font-size: 50px;
  border-bottom: 3px solid var(--blue);
  text-align: center;
  width: 543px;
  margin: 0px auto;
}
.plan .iconRow {
  margin-top: 40px;
}
.plan .iconRow .iconBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.plan .iconRow .iconBox .iconContainer {
  display: flex;
  justify-content: center;
}
.plan .iconRow .iconBox .iconContainer i {
  font-size: 50px;
  border: 1px solid #cec9c9;
  padding: 12px 22px;
  border-radius: 21px;
  box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
}
.plan .iconRow .iconBox p {
  font-size: 21px;
  text-align: center;
  margin-top: 14px;
}

.stakes {
  padding: 40px 0 75px 0;
}
.stakes h3 {
  font-size: 44px;
  font-weight: 700;
}
.stakes h5 {
  font-size: 20px;
  margin-bottom: 17px;
  margin-top: 15px;
  font-weight: 700;
}
.stakes p {
  font-weight: 500;
  margin-bottom: 0px !important;
  letter-spacing: 1px;
  font-size: 18px;
}
.stakes hr {
  margin: 0px;
  color: black;
  opacity: 1;
  margin-top: 9px;
}

.sucessfull h3 {
  font-size: 50px;
  text-align: center;
  font-weight: 700;
}
.sucessfull div {
  display: flex;
  justify-content: center;
}
.sucessfull div i {
  font-size: 35px;
}
.sucessfull h4 {
  font-size: 44px;
  text-align: start;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.sucessfull p {
  font-weight: 500;
  margin-bottom: 0px !important;
  letter-spacing: 1px;
  font-size: 18px;
}
.sucessfull hr {
  margin: 0px;
  color: black;
  opacity: 1;
  margin-top: 9px;
}

.launch {
  padding: 75px 0px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.launch .launchBanner {
  background: url("../img/banner2.png");
  width: 100%;
  height: 435px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -121px;
  border-radius: 12px;
  border: 1px solid;
}
.launch .launchBanner .launchBannerImg {
  width: 75%;
  border-radius: 12px;
}
.launch h3 {
  font-size: 33px;
  text-align: center;
  margin-top: 20px;
  font-weight: 700;
  margin-bottom: 30px;
}
.launch a {
  width: 350px;
  font-weight: 700;
  font-size: 21px;
  filter: drop-shadow(-2px 7px 13px red);
}
.launch img {
  width: 23px;
  height: 23px;
}

.faq {
  padding: 75px 0px;
}
.faq h3 {
  font-size: 40px;
  font-weight: 700;
  text-shadow: 2px 1px 3px #554f4f;
  margin-bottom: 30px;
}
.faq .faqImgbox {
  display: flex;
}
.faq .faqImgbox .faqImg {
  width: 100%;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

.accordion-item {
  border: none;
  border-top: 1px solid rgba(188, 188, 188, 0.9333333333) !important;
  border-radius: 0px !important;
}
.accordion-item .accordion-header {
  font-size: 32px;
  font-weight: 500;
  line-height: 21px;
  font-family: "Quicksand", serif;
}

.accordion-button:not(.collapsed) {
  color: #000000;
  background-color: rgba(207, 226, 255, 0);
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

footer {
  height: 50px;
  background: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-family: Quicksand;
  font-size: 16px;
  font-weight: 600;
  line-height: 32px;
  text-align: center;
  text-underline-position: from-font;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none;
  color: var(--secondary-color);
  margin-bottom: 0px;
}

/* Mobile CSS */
@media screen and (max-width: 900px) {
  .navbar-brand img {
    width: 178px;
  }
  .navbar {
    padding: 20px 0px;
  }
  .navbar .logoContainer {
    text-align: start;
  }
  .banner {
    padding: 0px;
    height: 340px;
    padding-left: 22px;
  }
  .banner h1 {
    font-size: 34px;
    font-weight: 600;
    text-shadow: 2px 1px 3px #acabab;
  }
  .banner p {
    font-size: 18px;
  }
  .banner hr {
    width: 325px;
  }
  .banner::before {
    background-position: unset;
  }
  .features {
    padding: 45px 0px;
  }
  .features h2 {
    text-align: center;
    font-size: 34px;
    font-weight: 200;
    text-shadow: 2px 1px 3px #554f4f;
  }
  .features p {
    text-align: center;
    font-size: 18px;
    margin-top: 17px;
  }
  .featuresRow {
    flex-direction: column;
    padding: 0 35px;
    margin-top: 20px;
  }
  .featuresRow .card {
    padding: 20px;
    background: var(--bg-card);
    margin-top: 12px;
  }
  .featuresRow .card i {
    font-size: 45px;
    color: var(--primary-color);
  }
  .featuresRow .card .card-body {
    padding: 0px !important;
  }
  .featuresRow .card .card-body .card-title {
    font-size: 26px;
  }
  .featuresRow .card .card-body .card-text {
    margin: 0px;
    text-align: start;
    font-size: 16px;
  }
  .featuresRow .card .card-body a {
    margin-top: 15px;
  }
  .brandVideo iframe {
    width: 100%;
    height: 300px;
  }
  .brandVideo a {
    color: white;
    width: 100%;
    font-size: 18px;
    text-transform: capitalize;
    font-weight: 700;
  }
  .brandVideo a i {
    margin-right: 8px;
  }
  .brandVideo .iframeContainer img {
    height: 264px;
  }
  .pricing {
    padding: 45px 0px;
  }
  .pricing h2,
  .pricing h3 {
    text-align: center;
  }
  .pricing h2 {
    font-size: 34px;
    text-shadow: 2px 1px 3px #554f4f;
  }
  .pricing h2 span {
    font-weight: 500;
  }
  .pricing h3 {
    font-size: 20px;
    padding: 25px 0px;
  }
  .pricing p {
    text-align: center;
    font-weight: 700;
  }
  .overWhelmed .row {
    flex-direction: column-reverse;
  }
  .overWhelmed h3 {
    font-size: 29px;
    font-weight: 700;
    text-shadow: 2px 1px 3px #554f4f;
    margin-top: 18px;
  }
  .overWhelmed .subHeading {
    font-size: 17px;
  }
  .overWhelmed a {
    width: 100%;
    padding: 10px 0px;
  }
  .overWhelmed a i {
    margin-right: 10px;
  }
  .overWhelmed .portfolio {
    display: flex;
    justify-content: center;
  }
  .overWhelmed .portfolio .portfolio_img {
    width: 400px;
    height: 400px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 35px;
  }
  .plan {
    padding: 45px 35px;
  }
  .plan h3 {
    font-size: 34px;
    border-bottom: 3px solid var(--blue);
    text-align: center;
    width: 65%;
    margin: 0px auto;
  }
  .plan .iconRow {
    margin-top: 40px;
  }
  .plan .iconRow .iconBox {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .plan .iconRow .iconBox .iconContainer {
    display: flex;
    justify-content: center;
  }
  .plan .iconRow .iconBox .iconContainer i {
    font-size: 50px;
    border: 1px solid #cec9c9;
    padding: 12px 22px;
    border-radius: 21px;
    box-shadow: rgba(0, 0, 0, 0.4) 5px 5px, rgba(0, 0, 0, 0.3) 10px 10px, rgba(255, 255, 255, 0.2) 15px 15px, rgba(255, 255, 255, 0.1) 20px 20px, rgba(255, 255, 255, 0.05) 25px 25px;
  }
  .plan .iconRow .iconBox p {
    font-size: 21px;
    text-align: center;
    margin-top: 14px;
  }
  .stakes {
    padding: 45px 35px;
  }
  .stakes h3 {
    font-size: 34px;
  }
  .stakes h5 {
    font-size: 20px;
    margin-bottom: 17px;
    margin-top: 15px;
  }
  .sucessfull {
    padding: 45px 35px;
  }
  .sucessfull h3 {
    font-size: 34px;
    text-align: center;
  }
  .sucessfull div {
    display: flex;
    justify-content: center;
  }
  .sucessfull div i {
    font-size: 35px;
  }
  .sucessfull h4 {
    font-size: 20px;
    margin-bottom: 17px;
    margin-top: 15px;
  }
  .launch {
    padding: 45px 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .launch .launchBanner {
    display: flex;
    justify-content: center;
    width: 95%;
    background-position: center;
  }
  .launch .launchBanner .launchBannerImg {
    width: 75%;
    border-radius: 12px;
  }
  .launch h3 {
    font-size: 21px;
    text-align: center;
    margin-top: 20px;
  }
  .launch a {
    width: 350px;
  }
  .faq {
    padding: 45px 15px;
  }
  .faq h3 {
    font-size: 29px;
    font-weight: 700;
    text-shadow: 2px 1px 3px #554f4f;
    margin-bottom: 30px;
  }
  .faq .faqImg {
    width: 100%;
    height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  div#accordionExample {
    margin-top: 20px;
  }
  .accordion-button:not(.collapsed) {
    color: #000000;
    background-color: rgba(207, 226, 255, 0);
    box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
  }
  footer {
    height: 50px;
    background: var(--primary-color);
  }
}/*# sourceMappingURL=style.css.map */
